# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\Balto\Desktop\Travaux_CDA\Projet Fil Rouge\Composants d'interface\Developper une interface de type desktop\Developper la partie Front-End et Back-End\CDA_20100\village_green\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
