{% extends 'base.html.twig' %}

{% block title %}New Produit{% endblock %}

{% block body %}
    <h1 class="text-center mb-5">Ajouter un nouveau produit</h1>
<div class="container">
    {{ include('produit/_form.html.twig') }}
</div>

{% endblock %}
