{% extends 'base.html.twig' %}

{% block title %}Valider ma commande{% endblock %}

{% block body %}
    <div class="container">
        <h1>Je passe ma commande</h1>
        <p>Choisissez vos préférences avant de passez votre commande</p>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <p>Choisir mon adresse de livraison</p>
                {% set formHtml %}
                    {{ form(form) }}
                {% endset %}
                {{ formHtml|replace({'[br]': '<br>'})|raw }}
                <p>Choisr mon transporteur</p> <br>
            </div>
            <div class="col-md-6">

            </div>

        </div>
    </div>
{% endblock %}
