<form method="post" action="{{ path('client_delete', {'cliId': client.cliId}) }}" onsubmit="return confirm('Etes-vous certain(e) de vouloir supprimer votre profil ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ client.cliId) }}">
    <div class="col-12">
        <button id="btn_supprimer_client" class="btn btn-danger">SUPPRIMER</button>
    </div>
</form>
