{% extends 'base.html.twig' %}

{% block title %}New Client{% endblock %}

{% block body %}
    <h1 class="text-center mb-5">Inscription</h1>

<div class="container">

    {{ include('client/_form.html.twig') }}

</div>
{% endblock %}
